<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Top 10 Trending Hashtags are:</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3>Top 10 Trending Hashtags are:</h3>
    <hr>
    <a th:href="@{/tweets/list}" class="btn btn-primary btn-sm mb-3">Back to feed</a>
    <a href="/home" class="btn btn-primary btn-sm mb-3">Back to home</a>
    <br><br>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Hashtags</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "tempTweet : ${tweet}">
            <td th:text="${tempTweet}" />
        </tr>
        </tbody>

    </table>
</div>
<hr>

</body>
</html>